<header>
    <div id="logo">
        <span>CuisineConnect</span>
    </div>
    
    <div id="header">
        <% for(let i = 0; i < header.length; i++) { %>
            <a href="<%= header[i] %>"><%= header[i] %></a>
        <% } %>
    </div>

    <div id="icons">
        <a href="/search" class="icon">
            <i class="fas fa-search"></i>
        </a>
        <a href="/cart" class="icon">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <a href="/signup" id="signup">Sign Up</a>
    </div>
</header>

