<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Catering Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/about.css" />
  <link rel="stylesheet" href="/css/contact.css" />
  <link rel="stylesheet" type="text/css" href="/css/food.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">


</head>
<body>
  <!-- <h1>Food Catering Site</h1> -->
  <%-include("./partial/Header");%>
  
  <div class="home">
    <h1>Savor Every Bite with <b>Easy Online Ordering</b></h1>
    <br>
    <h4>With our seamless food ordering platform, you can explore diverse cuisines, customize your meals, and enjoy fast delivery—all from the comfort of your home. Indulge in deliciousness with just a few clicks!</h4>
    <br>
    <div class="boximgimg">
      <div class="motion img1">
      </div>
      <img class="img2" src="https://codeplay-edtech-project.vercel.app/static/media/frame.3a238e5f26d676376e1d.png" alt="">
    </div>
    
  </div>
  <%-include("./partial/About");%>
  <%-include("./partial/ContactUs");%>
  <%-include("./partial/Footer");%>

</body>
</html>
