<footer>
    <div class="box6" style="padding-left: 65px;">
        <div class="flex_box6">
            <div class="b6l-1">
                <div style="display: flex; flex-direction: row;">
                    <img class="logo" src="https://i.pinimg.com/1200x/9c/0e/de/9c0edef80de1893774c8a74883a916f9.jpg" alt="">
                    <h2 style="padding-top: 20px; padding-left: 8px;">Cuisine Connect</h2>
                </div>
                <p style="font-size: 14px; color: #888888;">CuisineConnect was started in 2018 with the mission to build a holistic FinTech platform for offline merchants and small businesses. Today, BharatPe offers a suite of simple, easy-to-use and secure fintech products including payments and business loans to its merchant partners. The company has an extensive network of 13+ million merchants across 450+ cities in the country. CuisineConnect's consumer offering postpe is one of the fastest-growing products in the Buy-Now- Pay-Later industry.</p>
                <h5 style="padding-left: 25px;">Download app from</h5>
                <button style="margin-left: 25px;"><img style="background-color: #ffffff; border-radius: 8px; padding-left:8px; margin-left: 2px; padding-right: 15px;vertical-align: middle;" src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/play-store-icon.jpg
                    ">Playstore</button> <button style="margin-left: 25px;"><img style="background-color: #ffffff; border-radius: 8px; padding-left:8px; margin-left: 2px; padding-right: 15px; height: 24px;vertical-align: middle;" src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/app-store.jpg
                    ">App Store</button>
            </div>
            <div class="b6l-2">
                <h5>General</h5>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">About Us</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Carrers</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Press</a>
                </div>
                <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Contact Us</a>

                <h5>Legal</h5>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Terms & Conditions</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Privacy Policy</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Grievance Redessal</a>
                </div>
                <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Policy</a>
            </div>

            <div class="b6r-2">
                <h5>Resources</h5>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Build with CuisineConnect</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Transforming Bharat</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Merchant Stories</a>
                </div>

                <h5>Corporate Governance</h5>
            </div>

            <div class="b6r-1">
                <h5>Merchant Offerings</h5>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">CuisineConnect QR</a>
                </div>
                <div>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">CuisineConnect Speaker</a>
                </div>
            </div>
        </div>
    </div>

    <div class="box6_2" style="background-color: #1c1c1c; border: 2px solid grey;">
        <div style="margin-left: 19px;">
            <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/postpe-logo-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/club-twelth-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/zilion-logo-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/trillion-loans.png" alt=""></button>
        </div>
    </div>

    <div class="box6_3" style="padding-left: 65px; background-color: #1c1c1c;">
        <div class="box6_3_left">
            <p style="color:#ffffff; font-family: poppins; font-size: 14px; margin-top: 0px; padding-top: 25px;"> &#169; 2024 All Rights Reserved</p>
        </div>
        <div class="box6_3_right">
            <img src="">
        </div>
    </div>
</body>
</footer>
