* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("https://www.canva.com/design/DAGPlg65txg/96W71hJIreGlpntMOrjC5Q/view?utm_content=DAGPlg65txg&utm_campaign=designshare&utm_medium=link&utm_source=editor");
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #534e30ac;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #90885fac;
}
